CREATE TABLE allowed_emails ( email VARCHAR(255) PRIMARY KEY, created_at TIMESTAMP WITH TIME ZONE DEFAULT NOW(), created_by UUID REFERENCES auth.users(id) ); ALTER TABLE allowed_emails ENABLE ROW LEVEL SECURITY; CREATE POLICY "Allow authenticated read" ON allowed_emails FOR SELECT TO authenticated USING (true); CREATE POLICY "Allow public read" ON allowed_emails FOR SELECT TO anon USING (true);
